.bike {
  position: relative;
  background-color: black;
}

.bike__body {
  width: 180px;
  height: 10px;
  background-color: inherit;
  position: absolute;
  left: 15px;
}

.bike__wheel {
  position: absolute;
  bottom:-20px;
}

.bike__handle {
  position: absolute;
  width: 15px;
  height: 15px;
}

.wheel {
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: inherit;
  border-radius: 25px;
  border: 1px solid #ffffff;
}